<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aws.spring_study.repository.UserMappers">

    <insert id="saveUser" parameterType="com.aws.spring_study.dto.RegisterUserReqDto">  <!--메소드의 이름(ex. saveUser)이랑 같아야 한다.-->
        insert into user_tb
        values (0, #{username}, #{name}, #{phone})
    </insert>

    <select id="getUserListAll" resultType="com.aws.spring_study.entity.User">
        select
            user_id as userId,
            username,
            name,
            phone
        from
            user_tb
    </select>

    <update id="updateUser" parameterType="com.aws.spring_study.dto.ModifyUserReqDto">
        update user_tb
            set
                username = #{username},
                name = #{name},
                phone = #{phone}
            where
                user_id = #{userId}
    </update>

    <delete id="deleteUser" parameterType="integer">
        delete from user_tb
        where
            user_id = #{userId}
    </delete>

</mapper>
